<!-- <div class="container-lg d-flex flex-column justify-content-start">
    <h2>Test1</h2>
    <button *ngFor="let item of [1, 2]" class="btn btn-secondary mb-2 w-25" routerLink="det{{item}}">
        Details {{item}}
    </button>

    <router-outlet></router-outlet>
</div> -->

<div class="container-lg border pt-3 pb-3 mt-5">
    <h2 style="text-align: center;">Name: {{disName}}</h2>
    <div class="mainContainer d-flex justify-content-between p-3">
        <div class="d-flex flex-column btnContainer">
            <button class="btn btn-secondary" routerLink="det1">Details 1</button>
            <button class="btn btn-secondary" routerLink="det2">Details 2</button>
            <button class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>